{% extends "base.html" %}
{% block scripts %}
{{ block.super }}
<script type="text/javascript">
    var log;
    if (typeof(console) == "undefined") {
        log = function() {};
    } else {
        log = console.log;
    }

    // Canvas Overlay Class
    CanvasOverlay.prototype = new google.maps.OverlayView();
    function CanvasOverlay(opts) {
        if (opts) {
            this.opts = opts;
            this._width = opts.width;
            this._height = opts.height;
            this._map = opts.map;
            this._id = opts.id;
            this._point = opts.point
            google.maps.OverlayView.call(this);
            this.setMap(this._map);
        }
    }

    CanvasOverlay.prototype.createElement = function() {
        if (!this._canvas) {
            var panes = this.getPanes();
            canvas = document.createElement("canvas");
            canvas.style.position = "absolute";
            canvas.setAttribute('id', this._id);
            canvas.setAttribute('height', this._height);
            canvas.setAttribute('width', this._width);
            this._canvas = canvas;
            this._ctx = this._canvas.getContext('2d');
            this.lastZoom_ = -1;
            panes.overlayLayer.appendChild(canvas);
        }
    }

    CanvasOverlay.prototype.remove = function() {
        if (this._canvas) {
            this.setMap(null);
            this._canvas.parentNode.removeChild(this._canvas);
            this._canvas = null;
            this._ctx = null;
        }
    }

    CanvasOverlay.prototype.draw = function(firstTime) {
        this.createElement();
        // If there's no canvas or the current zoom equals the last zoom, then return
        if (!this._canvas || this._lastZoom == this._map.getZoom()) {
            return;
        }
        // Position canvas
        var point = this.get('projection').fromLatLngToDivPixel(this._point);
        if (!point) return;
        this._canvas.style.left = point.x + "px";
        this._canvas.style.top = point.y + "px";
        this._lastZoom = this._map.getZoom() ;
        // Use render hook to do the actual drawing
        this.render();
    }

    CanvasOverlay.prototype.render = function() {
        this._ctx.strokeStyle = "rgba(255,0,0,1)";
        this._ctx.fillStyle = "rgba(255,0,0,.5)";
        this._ctx.beginPath();
        this._ctx.arc(4, 4, 3, 0.0, Math.PI*2, true);
        this._ctx.closePath();
        this._ctx.fill();
    }

    CanvasOverlay.prototype.clear = function() {
        this._ctx.clearRect(0,0,this._width, this._height)
    }
</script>
<script type="text/javascript">
    // Canvas Overlay Class
    VectorOverlay.prototype = new CanvasOverlay();
    VectorOverlay.prototype.constructor = VectorOverlay
    function VectorOverlay(opts) {
        if (opts) {
            this.opts = opts;
            this._width = opts.width;
            this._height = opts.height;
            this._map = opts.map;
            this._id = opts.id;
            this._point = opts.point
            google.maps.OverlayView.call(this);
            this.setMap(this._map);
            this._magnitude = opts.magnitude;
            this._direction = opts.direction;
        }
    }

    VectorOverlay.prototype.render = function() {
        this._ctx.strokeStyle = "rgba(255,0,0,1)";
        this._ctx.fillStyle = "rgba(255,0,0,.5)";
        this._ctx.beginPath();
        this._ctx.arc(4, 4, 3, 0.0, Math.PI*2, true);
        this._ctx.closePath();
        this._ctx.fill();
    }
</script>

<script type="text/javascript">
     function initialize() {
        point = new google.maps.LatLng(35.140897, -120.646306);
        var myOptions = {
            zoom: 5,
            mapTypeId: google.maps.MapTypeId.TERRAIN,
            center: point
        };
        map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
        if(navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function(position) {
                point = new google.maps.LatLng(position.coords.latitude,position.coords.longitude);
                map.setCenter(point);
            }, function() {});
        }

        // Get border data
        $.getJSON("/borders/", function(data) {
            var lines = []
            // Boundaries
            for(var i = 0; i < data.length; i++) {
                var points = [];
                // Points for the boundaries
                for (var j = 0; j < data[i].length; j++) {
                    point = new google.maps.LatLng(data[i][j][1], data[i][j][0]);
                    points.push(point);
                }
                lines.push(new google.maps.Polyline({
                    'path': points,
                    'strokeColor': '#0000ff',
                    'strokeWeight': 1,
                    'strokeOpacity': .9,
                    'map': map
                }));
            }
        });

        // Get Buoy data
        $.getJSON("/buoys/", function(data) {
            for (var i = 0; i < data.length; i++) {
                point = new google.maps.LatLng(data[i].coords[1], data[i].coords[0]);
                var ov = new VectorOverlay({
                    point: point,
                    map: map,
                    id: "buoy_"+data[i].id,
                    height: 7,
                    width: 7
                });
            }
            point = new google.maps.LatLng(35.140897, -120.646306);
        });

     }
</script>
{% endblock %}
{% block styles %}
    {{ block.super }}
    <style>
        body { margin: 0px; }
        #wrapper { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; background-color: #000; }
    </style>
{% endblock %}
{% block body_id %}homepage{% endblock %}">
{% block extra_body%}onload="initialize()"{% endblock %}
{% block body %}
<div id="wrapper">
    <div id="map_canvas" style="width:100%; height:100%"></div>
</div>
{% endblock %}
